/* Establece la imagen de fondo y su tamaño */
body {
    background-image: url('./img/fondo.jpeg'); /* Define la imagen de fondo */
    background-size: cover; /* Escala la imagen para cubrir todo el fondo */

}

/* Agrega espacio de relleno alrededor del contenido */
.contenido {
    padding: 20px;
}

/* Estiliza el título h2 */
h2 {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 2rem; /* Establece el tamaño de fuente en 2 rem */
    padding-top: 50px; /* Agrega espacio superior */
    
}

/* Estiliza el contenedor principal */
.container {
   
    transform: translate(-50%, -50%); /* Centra el contenedor */
    width: 1000px; /* Establece el ancho del contenedor */
    height: 600px; /* Establece la altura del contenedor */
    padding: 50px; /* Agrega espacio de relleno alrededor del contenedor */
    background-color: #f5f5f5; /* Establece el color de fondo */
    box-shadow: 0 30px 50px #dbdbdb; /* Agrega una sombra */
}

/* Estilos para el carrusel */
#slide {
    width: max-content; /* Ajusta el ancho según el contenido */
    margin-top: 50px; /* Agrega espacio superior */
}

/* Estilos para cada elemento del carrusel */
.item {
    width: 200px; /* Establece el ancho del elemento */
    height: 300px; /* Establece la altura del elemento */
    display: inline-block; /* Muestra los elementos en línea */
    transition: 0.5s; /* Agrega una transición suave */
    background-size: cover; /* Escala el fondo para cubrir el elemento */
    z-index: 1; /* Establece el índice z en 1 */
    transform: translate(0, -50%); /* Centra verticalmente */
    border-radius: 20px; /* Agrega bordes redondeados */
    box-shadow: 0 30px 50px #505050; /* Agrega una sombra */
    
}


/* Ajustes para los primeros dos elementos del carrusel */

.item:nth-child(1) {
    left: 0; /* Coloca el primer elemento en la izquierda */
    top: 0; /* Coloca el primer elemento en la parte superior */
    transform: translate(0, 0); /* Restablece la posición y transformación */
    border-radius: 0; /* Elimina los bordes redondeados */
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    box-shadow: none; /* Sin sombra */
}
.item:nth-child(2) {
    left: 0; /* Coloca el primer elemento en la izquierda */
    top: 0; /* Coloca el primer elemento en la parte superior */
    transform: translate(0, 0); /* Restablece la posición y transformación */
    border-radius: 0; /* Elimina los bordes redondeados */
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    box-shadow: none; /* Sin sombra */
}

/* Ajustes de posición para elementos posteriores */
.item:nth-child(3) {
    left: 50%; /* Coloca el tercer elemento en la mitad */
}

.item:nth-child(4) {
    left: calc(50% + 220px); /* Coloca el cuarto elemento a la derecha */
}

.item:nth-child(5) {
    left: calc(50% + 440px); /* Coloca el quinto elemento a la derecha */
}

/* Elementos a partir del sexto con opacidad cero y posición ajustada */
.item:nth-child(n+6) {
    left: calc(50% + 660px); /* Coloca elementos posteriores a la derecha */
    opacity: 0; /* Oculta elementos posteriores */
}

/* Estilos para el contenido de los elementos del carrusel */
.item .content {
    
    width: 300px; /* Establece el ancho del contenido */
    text-align: left; /* Alinea el texto a la izquierda */
    padding:0; /* Sin espacio de relleno */
    color: #3b3333; /* Establece el color del texto*/
    transform: translate(0, -50%); /* Centra verticalmente */
    display: none; /* Oculta el contenido por defecto */
    font-family: system-ui; /* Establece la fuente de sistema */
    font-weight: bold;
}

/* Ajustes de visualización para el segundo elemento */
.item:nth-child(2) .content {
    display: block; /* Muestra el contenido del segundo elemento */
    z-index: 11111; /* Ajusta el índice z para que esté encima */
}

/* Estilos para el nombre y la descripción en el contenido */
.item .name {
    font-size: 40px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    opacity: 0; /* Inicialmente con opacidad cero */
    animation: showcontent 1s ease-in-out 1 forwards; /* Aplica una animación de mostrar contenido */
}

.item .des {
    margin: 20px 0; /* Agrega margen superior e inferior */
    opacity: 0; /* Inicialmente con opacidad cero */
    animation: showcontent 1s ease-in-out 0.3s 1 forwards; /* Aplica una animación de mostrar contenido */
}

/* Estilos para el botón en el contenido */
.item button {
    padding: 10px 20px; /* Tamaño del botón */
    border: none; /* Sin borde */
    opacity: 0; /* Inicialmente con opacidad cero */
    animation: showcontent 1s ease-in-out 0.6s 1 forwards; /* Aplica una animación de mostrar contenido */
}

/* Animación para mostrar el contenido */
@keyframes showcontent {
    from {
        opacity: 0; /* Inicialmente con opacidad cero */
        transform: translate(0, 100px); /* Con una transformación de 100px hacia abajo */
        filter: blur(33px); /* Con un efecto de desenfoque */
    }
    to {
        opacity: 1; /* Opacidad completa */
        transform: translate(0, 0); /* Sin transformación */
        filter: blur(0); /* Sin desenfoque */
    }
}

/* Estilos para los botones de avanzar y retroceder*/
.buttons{
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    margin-right:10%;
}.buttons button:hover{
    background-color: #bac383;
}
