*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.containerN hr {
    height: 2px; /* Altura de la línea */
    background-color:#d6c6b4; /* Color de la línea (puedes ajustar el color) */
    margin: 10px 40px; /* Espacio alrededor de la línea (ajusta según tus necesidades) */

  }

  .containerN {
    background-size: cover; /* Escala la imagen de fondo para cubrir todo el contenedor y que se vea bien la imagen no cortada  */
    background-position: center; /* Coloca la imagen de fondo en el centro del contenedor */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la ventana  */
    background-image: url('/src/assets/img/nosotros.jpg') ; /* Ruta a tu imagen de fondo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia (ajusta el valor 0.7) */
    padding-top: 10px; /* Agrega espacio de relleno alrededor del contenido */
    
  }
  .contmision{
    flex: 1; /* La sección izquierda ocupa todo el espacio disponible en el contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia en la sección izquierda */
    padding: 20px; /* Espaciado interior */
    color: #d6c6b4; /* Color de texto en la sección izquierda */
  }

  .sectionN {
    display: flex; /* Utiliza un contenedor flexible para alinear las secciones lado a lado */
    height: 90vh; /* La sección ocupa toda la altura de la ventana */
    text-align: center; /* Alinea el contenido al centro */
    padding: 20px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    
  }
  
  /* Estilo para la sección izquierda */
  .left-sectionN {
    flex: 1; /* La sección izquierda ocupa todo el espacio disponible en el contenedor */
    padding: 20px; /* Espaciado interior */
    color: #d6c6b4; /* Color de texto en la sección izquierda */
  }
  .right-sectionN {
    flex: 1; /* La sección derecha ocupa todo el espacio disponible en el contenedor */
    padding: 20px; /* Espaciado interior */
    color: #d6c6b4; /* Color de texto en la sección derecha */
    margin: 20px 20px;
  }
  .stilo-img img{
    margin-top: 20%; /* Margen superior para las imágenes */
    margin-bottom: 10%; /* Margen inferior para las imágenes */
  }
  .left-sectionN h3{
    margin-top: 30%;
  }